/********************/
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
/*********************/

body {  padding-top: 50px;}

.starter-template {  padding: 40px 15px;  text-align: center;}

/* Global add-ons */
.sub-header {
  padding-bottom: 10px;  border-bottom: 1px solid #eee;}


/* Main content */
.main {  padding: 20px;}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {  margin-top: 0;}

/*********************** CSS type ***********************/


/*********************** carte Google Maps ***********************/
#map-canvas{
	position:absolute;
	left:360px;
	width:100%;
    height:97%;
}

div.checkbox label img{
	height: 32px;
	width: 32px;
}

#infoWindow{	width: 500px;}
#infoWindow p.texte{ text-align: justify;}

form.formMaps{
	/*position:fixed;*/
	background-color: rgba(128,128,128,0.9);
	/*top: 75px;
	right: 75px;*/
	padding: 0 20px;
	border-radius: 10px;
	width: 325px;
}

form.formMaps div.habitants label.error {
	position: relative;
	color: red;
}

form.formContact label.error {
	float: right;
	position: relative;
	color: red;
}

div.col-sm-12{
	padding-bottom: 20px;
}

#bloc_logo{
	position: relative;
	left:-76px;
	width:360px;
	background-color: #CCC;
	padding-left: 50px;
}


/*se positionner*/
.mylocation {
    position: absolute;
    top: 15%;
    right: 2%;
    width:30px;
    height:  30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);

    z-index:5;
}
.mylocation:hover {

    background-color: rgba(0, 0, 0, 0.6);
    border:2px solid black;

}

/*fin se positionner*/

/* Image produit */
#image_produit {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#image_produit:hover .image {
  opacity: 0.3;
}

#image_produit:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 8px;
  margin: 0px 0px;
}
/* Fin image produit */
